<!DOCTYPE HTML>
<html lang='hu'>
<head>
    <title>{$params['title']}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <meta charset='utf8'/>
    <script src='public/ajax_aggregator.js'></script>
    <link rel='icon' href='public/img/logo.png' type='image/x-icon'/>

</head>
<body>
<div id='pagecontainer'>
    {$params['frame']}

</div>
<div id='lablec'>
    <img src='public/img/barion-card.png' alt='Barion'/>
    <div id='cookie-banner'>
        Ez a weboldal cookie-kat használ annak érdekében, hogy biztosítsa Önnek a legjobb élményt. Az elfogadáshoz kattintson az alábbi gombra.
        <br/>
        <div id='cookie-button' onclick='checkCookie()'>Elfogadom</div>
    </div>

</div>
</body>

</html>