h1,h2{
    color: var(--second-color);
}
p{
    text-align: justify;
}
h1,h2{
    text-align: center;
}
h2{
    font-size: 40px;
}
.searchprodcontainer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    width: 40%;
}
.searchimg{
    width: 200px;
}
.searchright{
    position: absolute;
    left: 250px;
    align-items: center;
    display: inherit;
    text-align: right;
    height: 100%;
}
.searchright a{
    text-decoration: none;
    font-size: 50px;
    color: var(--first-color);
}
#inputbox{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    width: 40%;
}
#inputbox input{
    height: 50px;
    width: 270px;
    border: 5px solid var(--second-color);
    border-radius: 5px;
    position: absolute;
    right: 0;
    font-size: 25px;
    color: var(--first-color);
}
#content{
    background-color: rgba(0, 0, 0, 0.5);
}
.select-button{
    height: 50px;
    width: 270px;
    border: 5px solid var(--second-color);
    border-radius: 5px;
    color: var(--second-color);
    background-color: var(--first-color);
    text-align: center;
    margin: 10px auto;
    cursor: pointer;

}
.select-button:hover{
    color: var(--first-color);
    background-color: var(--second-color);
}
@media screen and (max-width:1000px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
        margin: 20px 0;
    }
    #inputbox{
        width: 90%;
        margin: 50px auto;
    }
    #inputbox h2{
        font-size: 20px;
        margin: 0 auto;
    }
    #inputbox input{
        height: 40px;
        position: relative;
        margin: 0 auto;
        font-size: 25px;
        font-family: Kalam;
    }
    .searchprodcontainer{
        width: 50%;
    }
    .select-button{
        height: 40px;
        font-size: 25px;
    }
    .searchright{
        position: relative;
        height: auto;
        margin: 0 auto;
        left: 0
    }
    .searchright a{
        font-size: 25px;
        color: greenyellow;
    }
}