<div class='navbar'>

    <div class='logo'><img src='public/img/logo.png' alt='Foglaljmaganórát'></div>
    <ul class='nav'>
        <li>
            <a class='nav-link' onclick='openmenu(1)'>Kezdőlap</a>
        </li>
        <li>
            <a class='nav-link' onclick='openmenu(2)'>Beállítások</a>
        </li>
        <li>
            <a class='nav-link' onclick='openmenu(3)'>Óráim</a>
        </li>
        <li>
            <a class='nav-link' onclick='openmenu(4)'>Témáim</a>
        </li>
        <li>
            <a class='nav-link' onclick='openmenu(5)'>Szabad időpontok</a>
        </li>
        <li>
            <a class='nav-link' onclick='openmenu(6)'>Egyéni foglalt időpontok</a>
        </li>
    </ul>
    <a href='javascript:void(0);' class='icon'>
        <div class='bar'></div>
        <div class='bar'></div>
        <div class='bar'></div>
    </a>
</div>
    <div id='content'>
     {$params['content']}
    </div>
