<div class='navbar'>

    <div class='logo'><img src='public/img/logo.png' alt='Foglaljmaganórát'></div>
    <ul class='nav'>
        <li>
            <a href='/' class='nav-link'>Kezdőlap</a>
        </li>
        <li>
            <a href='rolunk' class='nav-link'>Rólunk</a>
        </li>
        <li>
            <a href='idopontfoglalas' class='nav-link'>Időpontfoglalás</a>
        </li>
        <li>
            <a href='regisztracio?mode=tanar' class='nav-link'>Tanár vagyok</a>
        </li>
        <li>
            <a href='bejelentkezes' class='nav-link'>Bejelentkezés</a>
        </li>
    </ul>
    <a href='javascript:void(0);' class='icon'>
        <div class='bar'></div>
        <div class='bar'></div>
        <div class='bar'></div>
    </a>
</div>
    <div id='content'>
     {$params['content']}
    </div>
