<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embrosia.eu-Adatvédelmi tájékoztató</title>
</head>
<body>
    <h1>Adatkezelési tájékoztató</h1>
<p>A Embrosia webshop (Üzemeltető: Advanced Technologies Kft.) számára kiemelt fontosságú a embrosia.eu látogatói által rendelkezésre bocsátott személyes adatok védelme, a látogatók információs önrendelkezési jogának biztosítása. A látogatók személyes adatait bizalmasan, a hatályos jogszabályi előírásokkal összhangban kezeljük, és gondoskodunk azok biztonságáról.</p>

<p>A webáruház oldalainak böngészésével, továbbá megrendelésének rögzítésével elfogadja cégünk általános szerződési és vásárlási feltételeit, továbbá adatkezelési elveit.</p>

<h2>Adat sértetlenségének és bizalmas kezelésének megőrzése</h2>
<p>A webshop üzemeltetője felelősséget vállal, hogy a embrosia.eu weboldalon keresztül szerzett vagy létrejött személyes adatok csak illetékes, a GDPR tekintetében megfelelő adatkezelőhöz kerülhet illetve illetéktelen kézbe kerülésekor, véletlen hiba, sérülés esetén. Az adatokat kezelő szerver szolgáltatónk (C-Host Kft.) megfelel a GDPR előírásoknak.</p>

<h2>Kezelt adatok</h2>
<p>A megrendelés folyamán rögzített adatokat cégünk a megrendelés teljesítéséhez használja fel. Azok megadása önkéntes alapon, az érintett hozzájárulásával történik. Az adatok megadása és kezelése a megrendelés, vagyis a szerződés teljesítéséhez szükséges annak érdekében, hogy a megrendelések egymástól elkülönítve, azok tartalma beazonosíthatóak legyenek. Az adatkezelő a megadott adatokat 2001. évi CVIII törvény figyelembe vételével kezeli, illetve tárolja. Mindent megtesz azok biztonsága és sérthetetlensége érdekében és azok kezelésekor a személyes adatok védelméről és a közérdekű adatok nyilvánosságáról szóló 1992. évi LXIII. törvényben előírtaknak alapján jár el. A megadott szállítási adatokat a megrendelt termék kiszállítását végző partnerünk megismerheti a csomag kézbesítéséhez.</p>

<h2>A megrendelés elküldéséhez, rögzítéséhez szükséges – megadandó adatok:</h2>

<ul>
    <li>Név</li>
    <li>E-mail cím</li>
    <li>Telefonszám</li>
    <li>Irányítószám</li>
    <li>Település</li>
    <li>Utca, házszám</li>
</ul>
<p>Eltérő szállítási és számlázási cím esetén ezen adatok külön megadhatóak számlázásra és szállításra vonatkozóan is.</p>

<h2>Regisztrált fiókhoz tartozó megrendelésekhez az alábbi adatok kerülnek rögzítésre – tárolásra:</h2>

<ul>
    <li>Korábbi vásárlások (azonosító, megrendelés dátuma, végösszeg, rendelés állapota, megrendelt termékek listája)</li>
    <li>Regisztrációhoz tartozó belépési adatok (jelszó titkosított formában), számlázási és szállítási adatok módosításának lehetősége, korábban megadott adatok</li>
    <li>Hírlevél feliratkozáshoz megadandó adatok: név, e-mail cím</li>
</ul>


<p>A látogatók által beküldött hozzászólásokat automatikus spamszűrő szolgáltatás ellenőrzi.</p>

<p>Amennyiben regisztrált felhasználó által kerül kép feltöltésre a honlapra, kerülni kell az az olyan EXIF-eket, amelyekben GPS pozíció adatok is szerepelnek. A honlap látogatói ezeket letölthetik és kinyerhetik a helyadatokat a honlapon található képekből.</p>

<h2>Adatok felhasználása / adattovábbítás</h2>
<p>A regisztrációkor és megrendeléskor megadott adatokat a embrosia.eu kizárólag a megrendelés teljesítése, a rendelési feltételek későbbi bizonyítása, illetve feliratkozás esetén hírlevél küldése céljából tárolja. A tárolt adatokhoz az ügyfélszolgálatunk és a logisztikát kiszolgáló munkatársaink férnek hozzá/kezelik. Adatait harmadik fél részére nem adjuk át, kivéve, ha a szerződés teljesítése érdekében alvállalkozó működik közre. Ezek az alábbiak lehetnek:</p>

<ul>
    <li>
        FoxPost csomagküldő szolgálat. Átadott adatok: Név, szállítási cím, e-mail cím, telefonszám
        
    </li>
    <li>
        MPL csomagküldő szolgálat. Átadott adatok: Név, szállítási cím, e-mail cím, telefonszám
        
    </li>
    <li>
        Online bankkártyás fizetést biztosító Barion. Átadott adatok: Kosárérték, vásárlás dátuma és időpontja, tranzakció azonosító.
        
    </li>
    <li>A szállítást végző partner cégek a tőlünk kapott adatokat semmilyen formában nem jogosultak harmadik fél részére továbbadni. Az adatokat kizárólag a csomag célba juttatására, sikertelen átvétel esetén a címzett értesítésére használják. Online fizetés esetén a tranzakció azonosító, a vásárlás összege, dátuma és időpontja továbbításra kerül a tranzakciót lebonyolító Barion felé.</li>
</ul>

<p>A webáruház böngészése folyamán technikai információk kerülnek rögzítésre statisztikai célokból (IP cím, böngésző típusa, látogatás időtartama, stb). Ezen adatokat cégünk kizárólag jogilag hitelesen indokolt és alátámasztott esetben adja át a hatóságok részére.</p>

<h2>Adatok korlátozása</h2>
<p>Az üzemeltető csak a kereskedelmi tevékenységéhez és vásárlóink kiszolgálásához feltétlenül szükséges, releváns mennyiségű adatot tárol és dolgoz fel.</p>

<h2>Adatmódosítás</h2>
<p>A honlapon regisztrált felhasználók (ha vannak ilyenek) személyes adatai a saját felhasználói profiljukban is tárolásra kerülnek. Minden felhasználó megtekintheti, szerkesztheti vagy törölheti a személyes adatait bármikor (kivéve, hogy nem változtathatja meg a saját felhasználói nevét). A honlap rendszergazdái ezen információkat szintén megtekinthetik és szerkeszthetik.</p>

<p>Megrendelés esetén a megrendelés elküldését követően ügyfélszolgálati elérhetőségeinken kérhető az adatbeviteli hibák javítása.</p>

<h2>Adatok törlése</h2>
<p>Regisztrációját, és ezzel együtt minden személyes adatot írásos kérés esetén bármikor töröljük. A személyes adatok törlését – a számviteli bizonylatok kivételével – a jelen tájékoztatóban közzétett elérhetőségeken lehet kérni. Ez nem vonatkozik azokra az adatokra, amelyeket adminisztrációs, jogi vagy biztonsági okokból kötelező megőriznünk.</p>

<p>Az adatok törlése az igény beérkezését követően 10 munkanapon belül megtörténik. Az adatbeviteli hibák javítása a megrendelés elküldését megelőzően lehetséges.</p>

<h2>Adatok kikérése</h2>
<p>A weboldalon regisztrált fiók vagy hozzászólás írása esetén a jelen tájékoztatóban közzétett elérhetőségeken kérhető a személyes adatok export fájlban történő megküldése, amely bármilyen adatot tartalmaz, amit korábban a felhasználó rendelkezésünkre bocsátott.</p>

<p>Az adatkezelés időtartamán belül tájékoztatást kérhet az Adatkezelőtől a személyes adatai kezeléséről. Az Adatkezelő a kérelem benyújtásától számított legrövidebb idő alatt, legfeljebb azonban 25 napon belül írásban, közérthető formában tájékoztatja Önt a kezelt adatokról, az adatkezelés céljáról, jogalapjáról, időtartamáról, továbbá – amennyiben az adatok továbbítására is sor került – arról, hogy kik és milyen célból kapják vagy kapták meg az adatokat.</p>

<h2>Adatok tárolásának időtartama</h2>
<p>Az egyes informatikai rendszerek által, a webáruház oldalain leadott megrendelésből készült számla adatai a rendelés leadása folyamán megadott adatokkal rögzítésre és tárolásra kerülnek a hatályos számviteli törvényben meghatározott időszakra (5 év).</p>

<p>Az adatokat cégünk a számviteli törvénynek megfelelő időtartamig, vagyis megadásuktól számított 5 évig tárolja.</p>

<p>Ha hozzászól / véleményt ír egy termékről, a hozzászólás és annak metaadatai nem meghatározható ideig a rendszerben maradnak. Ennek célja, hogy az összes ezt követő bármely hozzászólás általunk megismertté és jóváhagyottá váljon, azaz ne kerüljön fel a moderálandó hozzászólások listájára.</p>

<h2>Hírlevél</h2>
<p>Hírlevelet kizárólag azoknak küldünk, akik feliratkoztak rá. Minden egyes kiküldött hírlevél tartalmaz leiratkozó linket is. Kizárólag a embrosia.eu-hoz kapcsolódó információkat továbbítjuk hírleveleinkben. Más cégek által szponzorált cikkeket, direkt marketing anyagokat semmilyen körülmények között nem küldünk.</p>

<p>Hírlevelünkre a regisztrációkor vagy az erre kialakított űrlapon iratkozhat fel. A feliratkozás kizárólag valós e-mail címmel lehetséges. A megadott adatokat cégünk bizalmasan kezeli nem adja ki harmadik fél számára. A hírlevélről történő leiratkozási lehetőség minden általunk küldött levél alján biztosított a leiratkozás gombra történő kattintással vagy ügyfélszolgálati elérhetőségeinken történő kéréssel. A levélben történő leiratkozás gombra kattintással azonnal törlésre kerül a megadott e-mail cím és a hozzá tartozó adatok mindegyike a levelezési listáról. Ügyfélszolgálati elérhetőségeinken történő hírlevél törlési igényt 2 munkanapon belül teljesítjük. Az általunk küldött hírlevelek tartalma tájékoztató jellegű. Aktuális akciókra, információkra hívja fel a figyelmet tartalmukkal.</p>

<p>A hírlevélre feliratkozók listáját külső szolgáltató, MailChimp vállalat (Atlanta, Georgia, Egyesült Államok) tárolja.</p>

<h2>Statisztikai adatok</h2>
<p>A webáruház böngészése folyamán technikai információk kerülnek rögzítése statisztikai célokból. (IP cím, böngésző típusa, látogatás időtartama, stb). Ezen adatokat cégünk kizárólag jogilag hitelesen indokolt, és alátámasztott esetben adja át a hatóságok részére. A embrosia.eu által használt statisztikai eszköz a Google Analytics. A Google Analytics adatkezelési irányelvei megismerhetőek a http://www.google.com/analytics weboldalon.</p>

<h2>Cookie-k (sütik)</h2>
<p>A szolgáltatás igénybevételéhez cookie-k engedélyezése szükséges. Amennyiben nem szeretné engedélyezi a cookie-k használatát, letilthatja a böngészője beállításaiban (Beállítások menüpont). Cookie-k tiltása esetén a szolgáltatás bizonyos elemei csak részben, vagy egyáltalán nem használhatóak.</p>

<p>A cookie egy olyan fájl, amelyet a webáruházat kiszolgáló szerver küld a felhasználó böngészőjének, és amelyet a felhasználó számítógépe tárol. Bennük személyes adat nem kerül tárolásra. A cookie-ban tárolt adatok: kosár tartalma, munkamenet azonosító, meglátogatott oldalak listája, alap információk a böngészőhöz kapcsolódó számítógépről. A cookie-ban tárolt munkamenet azonosító az oldal bezárásáig, a további adatok a felhasználó által a saját böngészőjében történő törlésig kerül tárolásra.</p>

<p>Hozzászólás írása után a honlap a megadott nevet, e-mail és web címet sütiben eltárolja. A tárolás csak kényelmi célokat szolgál, hogy a következő hozzászóláskor ne kelljen automatikusan kitölteni. A sütik lejárati ideje 1 év.</p>

<h2>Mi a cookie (süti)?</h2>
<p>A cookie-k kis adatfájlok, amelyeket a böngésző helyez el a felhasználó számítógépén vagy eszközén. Többek között információt gyűjtenek, megjegyzik a látogató egyéni beállításait, és általánosságban megkönnyítik a weboldal használatát a felhasználók számára. A sütik önmagukban nem gyűjtik a számítógépen vagy a fájlokban tárolt adatokat. Olvassa el figyelmesen az alábbi tájékoztatót további információkért, hogyan gyűjtjük az információt, amikor Ön ezt a weboldalt használja.</p>


<h2>Hogyan lehet törölni/kikapcsolni a cookie-kat?</h2>
<p>Minden böngésző lehetővé teszi a cookie beállításainak változtatását. Viszont nagyon fontos, hogy mivel a cookie-k célja weboldalunk használhatóságának és folyamatainak megkönnyítése, a cookie-k alkalmazásának megakadályozása vagy törlése esetén előfordulhat, hogy felhasználóink nem lesznek képesek weboldalunk funkcióinak teljes körű használatára, illetve hogy a weboldal a tervezettől eltérően fog működni böngészőjében.</p>
<p>Általában a böngészők „Beállítások” menüiben találhatók a cookie-kal kapcsolatos beállítások. A cookie-k beállításával kapcsolatban az alábbi linkek is segítségére szolgálnak, valamint további információt az egyes böngészők „Súgó” menüjében talál.</p>


<h2>Hogyan lehet visszavonni a hozzájárulást?</h2>
<p>Ha hozzájárult a cookie-k használatához, a böngésző cookie-kat tárol az Ön számítógépén vagy egyéb eszközén, hogy rendszerünk felismerje beállításait. A hozzájárulás érvényessége időnként lejár. Azonban, hogyha szeretné visszavonni hozzájárulását, a böngészője cookie beállításai között bármikor megteheti.</p>

<h2>További információk a cookie-król</h2>
<p>A cookie-kal kapcsolatos részletesebb tudnivalókért keresse fel az alábbi weboldalakat:</p>

<a href="http://www.youronlinechoices.com/hu/">http://www.youronlinechoices.com/hu/</a>

<a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a>

<a href="http://cookiepedia.co.uk/cookie-laws-across-europe">http://cookiepedia.co.uk/cookie-laws-across-europe</a>

<h2>Google Analytics Cookie-k</h2>

<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>

<a href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a>

<h2>Vonatkozó jogszabályok</h2>
<p>A személyes adatok védelméről és a közérdekű adatok nyilvánosságáról szóló 1992. évi LXIII. törvény;</p>
<p>Az egyének védelméről a személyes adatok gépi feldolgozása során szóló 1998. évi VI. törvény;</p>
<p>Az elektronikus hírközlésről szóló 2003. évi C. törvény;</p>
<p>226/2003. (XII. 13.) kormány rendelet az elektronikus hírközlési szolgáltató adatkezelésének különös feltételeiről, az elektronikus hírközlési szolgáltatások adatbiztonságáról, valamint az azonosítókijelzés és hívásátirányítás szabályairól;</p>

<p>Az elektronikus kereskedelemről szóló 2001. évi CVIII. törvény.</p>

<p>AZ EURÓPAI PARLAMENT ÉS A TANÁCS (EU) 2016/679 RENDELETE a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról (általános adatvédelmi rendelet)</p>

<p>Törvényesség, méltányosság és átláthatóság</p>

<p>Az üzemeltető biztosítja, hogy az adatkezelés mikéntje az adat tulajdonosa számára ismert, a leírtaknak megfelelően történik és a GDPR előírásoknak megfelel.</p>

<h2>Információk tulajdonjoga</h2>
<p>Kijelentjük, hogy a embrosia.eu webáruházat működtető vállalkozás birtokolja az oldalakon látható információkat. A embrosia.eu oldalainak tartalmát és kialakítását nemzetközi és magyar törvények védik. Tilos a embrosia.eu oldalairól származó információk, cikkek engedély nélküli árusítása, bármilyen formában történő megváltoztatása és ismételt megjelentetése! A megjelent anyaggal kapcsolatos minden további jogunkat fenntartjuk, és szükség esetén akár bírósági úton is érvényesítjük.</p>

<p>A embrosia.eu címen elérhető portál html kódja a az üzemeltetőtől független, külső szerverről érkező és külső szerverre mutató hivatkozásokat tartalmaz. E hivatkozások szolgáltatói az ő szerverükre történő közvetlen kapcsolódás miatt statisztikai és személyes felhasználói adatokat képesek gyűjteni.</p>

<h2>Az adatkezelő adatai, elérhetősége</h2>
<ul>
    <li>Név: Advanced Technologies Kft.</li>
    <li>Székhely és levelezési cím: 1132 Budapest, Váci utca 16. fsz. 12.</li>
    <li>Cégjegyzékszám: 01-09-410103</li>
    <li>Adószám: 32169463-2-41</li>
    <li>Adatkezelési ügyekre kijelölt munkatárs: Matus Norbert</li>
    <li>E-mail: ugyfelszolgalat@embrosia.eu</li>
</ul>

<h2>Jogorvoslat</h2>
<p>Jogorvoslati lehetőséggel, panasszal a Nemzeti Adatvédelmi és Információszabadság Hatóságnál lehet élni:</p>

<ul>
    <li>Név:  Nemzeti Adatvédelmi és Információszabadság Hatóság</li>
    <li>Székhely: 1125 Budapest, Szilágyi Erzsébet fasor 22/c</li>
    <li>Postacím: 1530 Budapest, Pf.: 5.</li>
    <li>Telefon: +36 (1)391-1400</li>
    <li>Web: <a href="http://naih.hu">http://naih.hu</a></li>
    <li>E-mail: <a href="mailto:ugyfelszolgalat@naih.hu">ugyfelszolgalat@naih.hu</a></li>
</ul>
</body>
</html>
