<h1>Dátumok</h1>
<h2 id='cim'>{$params['name']} magántanárhoz</h2>
<div id='calendar-box'>
    <div class='navigation'>
        <div class='button' id='prevMonthButton'>&lt;</div>
        <label for='year'>Év:</label>
        <select id='year'></select>
        <label for='month'>Hónap:</label>
        <select id='month'></select>
        <div class='button' id='nextMonthButton'>&gt;</div>
    </div>

    <div id='calendarContainer'></div>

</div>
<div id='menu-navigation'>
    <div class='select-button' onclick='back()'>Vissza</div>
    <div class='select-button' onclick='next()'>Tovább</div>
</div>

