h1,h2{
    color: var(--second-color);
}
p{
    text-align: justify;
}
h1,h2{
    text-align: center;
}
/* Add meg a stílusokat */
#calendar-box{
    width: 50%;
    margin: 0 auto;
}
select{
    width: auto;
    height: 60px;
    font-size: 24px;
    font-family: Kalam;
}
#calendarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    margin: 0 auto;
}
.calendar {
    position: relative;
    display: inline-block;
    border-collapse: collapse;
}

.calendar th,
.calendar td {

    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
    cursor: pointer;
    line-height: 60px;

}

.calendar th {
    background-color: #f2f2f2;
}


.button{
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}
.today {
    background-color: #e74c3c;
    color: white;
}
.selected {
     background-color: green;
     color: white;
 }
.calendar td:not(.disabled):hover {
    background-color: lawngreen;
    color: white;
}
.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.navigation {
    position: relative;
    width: 550px;
    margin: 10px auto;
}
#menu-navigation{
    display: flex;
    flex-wrap: wrap;
}
.select-button{
    height: 50px;
    width: 270px;
    border: 5px solid var(--second-color);
    border-radius: 5px;
    color: var(--second-color);
    background-color: var(--first-color);
    text-align: center;
    margin: 10px auto;
    cursor: pointer;

}
.select-button:hover{
    color: var(--first-color);
    background-color: var(--second-color);
}
@media screen and (max-width:1000px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
        margin: 20px 0;
    }
    .calendar th, .calendar td {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    #calendarContainer{
        width: 100%;
    }
    .button{
        width: 25px;
        height: 40px;
        font-size: 30px;
    }
    label{
        font-size: 25px;
    }
    .navigation{
        display: flex;
        width: 100%;
    }
    select{
        height: 40px;
    }
}
@media screen and (max-width:520px) {
    #calendar-box{
        width: 100%;
    }
}