<!DOCTYPE HTML>
<html lang='hu'>
<head>
    <title>{$params['title']}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <meta charset='utf8'/>
    <script src='public/ajax_aggregator.js'></script>
    <link rel='icon' href='public/img/logo.png' type='image/x-icon'/>
    <!--<meta name='description' content='Fedezd fel az Embrosia egyedi hímzett pólóit, amelyek stílust és minőséget képviselnek. Készíts egyedi mintákat. Időtálló és vasalható hímzéssel, hogy ruháid sokáig kifogástalan állapotban maradjanak. Látogass el honlapunkra és rendelj most!'/>
    <meta name='keywords' content='Embrosia, hímzett pólók, egyedi pólók, stílus, minőség, ruhamárka, hímzés, időtálló, vasalható, ruhadarabok, egyedi pólók'/>
    <meta name='author' content='Embrosia' />


        <meta property='og:title' content='{$params['title']}'/>
        <meta property='og:description' content='Fedezd fel az Embrosia egyedi hímzett pólóit, amelyek stílust és minőséget képviselnek.'/>
        <meta property='og:image' content='{$params['title_img']}'/>
        <meta property='og:image:width' content='585'/>
        <meta property='og:image:height' content='585'/>
        <meta property='og:url' content='{$params['url']}'/>
        <meta property='og:type' content='website'/>
        <meta property='fb:app_id' content='809382190538216'/>

    <script src='public/cart.js'></script>
    <script>
        // Create BP element on the window
        window['bp'] = window['bp'] || function () {
            (window['bp'].q = window['bp'].q || []).push(arguments);
        };
        window['bp'].l = 1 * new Date();

        // Insert a script tag on the top of the head to load bp.js
        scriptElement = document.createElement('script');
        firstScript = document.getElementsByTagName('script')[0];
        scriptElement.async = true;
        scriptElement.src = 'https://pixel.barion.com/bp.js';
        firstScript.parentNode.insertBefore(scriptElement, firstScript);
        window['barion_pixel_id'] = 'BP-eqWl8edz8b-AE';

        // Send init event
        bp('init', 'addBarionPixelId', window['barion_pixel_id']);
    </script>
    <script type='application/javascript' src='https://www.onlinepenztarca.hu/js/onlinepenztarcajs.js?btr=ShGGr-NQOFe-Xgb3q-iro9g' referrerpolicy='no-referrer-when-downgrade'></script>
    -->
</head>

<!-- Google tag (gtag.js)
<script src='https://www.googletagmanager.com/gtag/js?id=G-RNG8CF4XF2'></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RNG8CF4XF2');
</script>-->
<style>

</style>
<body>
{$params['frame']}
<div id='lablec'>
    <img src='public/img/barion-card.png' alt='Barion'/>
    <div id='cookie-banner'>
        Ez a weboldal cookie-kat használ annak érdekében, hogy biztosítsa Önnek a legjobb élményt. Az elfogadáshoz kattintson az alábbi gombra.
        <br/>
        <div id='cookie-button' onclick='checkCookie()'>Elfogadom</div>
    </div>

</div>
</body>

</html>